DATABASE_URL="postgresql://robia:CHANGE_ME@localhost:5432/robia_db?schema=public"
DATABASE_URL="postgresql://postgres.mmgdwidolufsculbftss:CHANGE_ME@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="change_this_to_a_long_random_string_soloy_in_production"
JWT_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:3000"